$colorSiteSelect: #F16D7F;
$widthSite: 1140px;
$colorText: #222222;
$colorSpecialText: #FFFFFF;
$colorOptionalText: rgb(251, 251, 251);
$backgroundBehindPic: rgb(247, 228, 226);
$widthBurgerMenu: 235px;
$colorButtonCart: rgb(255, 255, 255);
$fontFamileLato: Lato;
$colorPurplePink: rgb(241, 109, 127);
$colorBlackBrown: rgb(34, 34, 34);
$colorWetAsphalt: rgb(74, 74, 74);