@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

#check {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

#check:checked ~ .menu {
  right: -232px;
}

.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

.header__checkbox:checked ~ .mobile-menu {
  right: 0;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  transition: right 0.6s;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.mobile-menu__link-site {
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}
.mobile-menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.mobile-menu__link:hover {
  color: #F16D7F;
}
.mobile-menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.mobile-menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}
.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.promo {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.promo__img {
  width: 50%;
}
.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin: 138px 34px 138px 39px;
  /* margin-top: 48%; */
}
.promo-text {
  /* THE BRAND OF LUXERIOUS FASHION */
  position: absolute;
  width: 283px;
  height: 78px;
  left: 145.66%;
  right: -136.66%;
  top: 231.07%;
  bottom: -215.85%;
  margin: 138px 34px 151px 16px;
}
.promo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.promo__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.promo__content {
  /* padding-left: 64px; */
}

.sale {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  justify-items: center;
  /* &__content_big {

    margin: 65px 489px 65px 491px;
    width: 159px;
    height: 50px;
  } */
}
.sale__item {
  position: relative;
  max-width: 360px;
  max-height: 180px;
  padding: 5px;
}
.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale__item_big {
  position: relative;
  margin: 79px;
  align-items: flex-start;
  /* min-height: 180px; */
  grid-column: 1/-1;
  max-width: 1140px;
  max-height: 180px;
}
.sale__text {
  width: 110px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__text_big {
  width: 160px;
  height: 50px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sale__heading_big {
  width: 160px;
  height: 50px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(241, 109, 127);
}
.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box {
  padding-bottom: 96px;
}
.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}
.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}
.product-box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product_img_woman {
  position: relative;
  background: rgb(247, 228, 226);
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}

.product__img_woman {
  width: 141.94px;
  height: 400px;
  display: flex;
  align-items: center;
  left: 202.22%;
  right: -141.65%;
  top: 377.62%;
  bottom: -372.86%;
  margin: 9px 110.6px 11px 108px;
  background: rgb(247, 228, 226);
}

.product__img_man {
  position: relative;
  background: rgb(247, 228, 226);
}

.product__img_man1 {
  width: 142px;
  height: 400px;
  display: flex;
  align-items: center;
  left: 202.22%;
  right: -141.65%;
  top: 86.9%;
  bottom: -82.14%;
  margin: 9px 110px 11px 108px;
  background: rgb(247, 228, 226);
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
  fill: #F16D7F;
}

.product__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.head {
  min-height: 148px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: flex;
}

.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb__box-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link:hover {
  font-weight: 700;
  color: #F16D7F;
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.filter-box {
  position: relative;
  height: 40px;
  width: 360px;
}

.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__link:hover {
  color: #F16D7F;
}

.filter__box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
}

.filter-sort {
  padding-top: 39px;
  display: flex;
  gap: 30px;
}

.filter__summary {
  display: flex;
  gap: 11px;
  align-items: center;
}

.filter__heading {
  color: rgb(251, 251, 251);
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__summary {
  color: #F16D7F;
}

.filter[open] .filter__img path {
  fill: #F16D7F;
}

.filter__category {
  margin-top: 16px;
}

.filter__category-summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}

.filter__category[open] .filter__category-summary {
  color: #F16D7F;
}

.sort {
  display: flex;
  gap: 28px;
  align-items: center;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -235px;
}

.box-content {
  overflow: hidden;
}

.nav {
  background: rgb(255, 255, 255);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 78px;
  right: 0;
  transition: right 0.3s;
}

.button {
  width: 212px;
  height: 48px;
  display: flex;
  border: 1px solid #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  justify-content: center;
  align-items: center;
  gap: 22px;
  transition: all 1s;
}

.button:hover {
  transform: rotate(1720deg);
  color: #fff;
  background-color: #F16D7F;
}

.button:hover path {
  fill: white;
}

.slider {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}

.slider__arrow:hover path {
  fill: #F16D7F;
}

.slider__arrow_left {
  left: 0;
}

.slider__arrow_right {
  right: 0;
}

.content {
  background-color: #fff;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: -65px auto 0;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_button {
  /* Vector */

  width: 212px;
  height: 48px;
  left: 695.5px;
  top: 2817.5px;
  border: 1px solid rgb(255, 106, 106);
  margin: 48.5px 463.5px 0.5px 465.5px;
}



.h2_sale {
  /* Browse All Product */
  width: 150px;
  height: 19px;
  left: 346.23%;
  right: -309.43%;
  top: 5900%;
  bottom: -5839.58%;
  margin: 15px 39px 14px 39px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.bottom {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
  background: rgb(34, 34, 36);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  flex-wrap: wrap;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  position: relative;
  text-align: center;
}
.pages__block {
  position: relative;
}
.pages__summary {
  display: flex;
  align-items: center;
  gap: 26px;
}

.delivery {
  width: 360px;
  height: 134px;
  margin: 103px 0px 104px 0px;
}

.torakk_img {
  margin: 0px 157px 0px 158px;
}

.h2_bottom {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 28px 125px 16px 117px;
}

.p_bottom {
  width: 360px;
  height: 34px;
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

.sale_discont {
  width: 360px;
  height: 134px;
  margin: 103px 0px 104px 0px;
}

.img_sale_discount {
  margin: 0px 160px 16px 160px;
}

.h2_sale_discont {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 106px 17px 99px;
}

.vip {
  width: 360px;
  height: 134px;
  margin: 103px 0px 104px 0px;
}

.img_vip {
  margin: 0px 157px 25px 156px;
}

.h2_vip {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 10px 16px 97px;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  position: relative;
  text-align: center;
  height: 448px;
}

.conteiner_cart {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  position: relative;
  text-align: center;
  height: 448px;
  margin-top: 998px;
}

.conteiner_registration {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  position: relative;
  text-align: center;
  height: 448px;
  margin-top: 675px;
}

.contact_background {
  width: 1600px;
  height: 448px;
}

.seo {
  position: absolute;
  width: 359px;
  height: 225px;
  margin: 77px 223px 126px 228px;
}

.img_woman {
  width: 25%;
  margin: 0px 117px 0px 97px;
}

.container_p {
  width: 359px;
  height: 99px;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.subscribe {
  position: absolute;
  width: 557px;
  height: 142px;
  margin: 77px 230px 156px 623px;
}
.subscribe_text {
  width: 557px;
  height: 24px;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  font-weight: bold;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
}
.subscribe_text_other {
  width: 557px;
  height: 30px;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
}

.button_email {
  width: 256px;
  height: 49px;
  background: rgb(225, 225, 225);
  border-radius: 50px 0px 0px 50px;
  margin: 0px 0px 0px 24px;
}

.input__email {
  /* Делает само поле ввода прозрачным */
  background: transparent;
  /* Убираем рамки вокруг поля ввода */
  border: none;
}

.parag_but {
  width: 170px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.67;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin: 7px 64px 6px 22px;
}

.button_subscribe {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border-radius: 0px 50px 50px 0px;
}

.parag2_but {
  width: 85px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin: 7px 7px 6px 8px;
}

.social_network {
  display: flex;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  background: rgb(34, 34, 36);
  width: 1600px;
  height: 79px;
}

.h2_social_network {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 235px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo_network {
  margin-left: 550px;
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cart-box {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  gap: 50px;
  height: 998px;
  grid-template-areas: 
  "a a b"
  "a a b";
  position: absolute;
}
.cart-box_left {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  height: 998px;
  width: 780px;
}

.carts__1 {
  position: absolute;
  width: 652px;
  height: 306px;
  padding: 96px 0px 0px 230px;
}
.carts_img {
  position: absolute;
  width: 262px;
  height: 306px;
  right: 80%;
}
.carts__content {
  position: relative;
  width: 390px;
  height: 306px;
  right: 25%;
  background: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgb(105, 104, 104);
}
.carts__content_small {
  position: relative;
  width: 262px;
  height: 222px;
  padding: 22px 97px 62px 31px;
  top: 22px;
  left: 31px;
}
.carts__heading {
  position: absolute;
  width: 262px;
  height: 58px;
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  gap: 42px;
}
.img__cross {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 129.14%;
  right: -31.9%;
  top: 8%;
  bottom: -19.28%;
}
.carts__ul {
  width: 166px;
  height: 122px;
  position: absolute;
  top: 100px;
  padding-top: 122px 193px 62px 31px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.carts__link {

  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.carts__2 {
  position: absolute;
  width: 652px;
  height: 306px;
  padding: 442px 0px 72px 230px;
}
.button_block {
    /* Button */
  position: relative;
  width: 652px;
  height: 50px;
  margin-top: 820px;
  gap: 192px;
  margin-left: 130px;
  margin-right: 130px;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button_left {
  position: absolute;
  width: 235px;
  height: 50px;
  background: rgb(255, 255, 255);
}
.button_right {
  position: absolute;
  width: 225px;
  height: 50px;
  background: rgb(255, 255, 255);
  margin-left: 430px;
}
.cart-box_right {
  grid-area: b;
  position: relative;
  display: flex;
  height: 998px;
  width: 450px;
  margin-left: 80px;
}
.shipping__adress {
  position: absolute;
  width: 360px;
  height: 272px;
  padding: 0px 0px 230px 0px;
  margin-top: 113px;
}
.payment_h2 {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 223px 20px 0px; 
}
.input_text {
  width: 360px;
  height: 45px;
  left: 280.56%;
  right: -280.56%;
  top: 833.33%;
  bottom: -833.33%;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.get_a_quote {
  color: rgb(74, 74, 74);
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid rgb(164, 164, 164);
  width: 100.39px;
  height: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.payment {
  margin-top: 57px;
  background: rgb(245, 243, 243);
  width: 360px;
  height: 214px;
}
.payment_h3 {
  
  color: rgb(74, 74, 74);
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  padding: 39px 34px 12px 218px;
}
.payment_h1 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(34, 34, 34);
  padding: 0px 37px 21px 153px;
}

.line {
  background: rgb(226, 226, 226);
  /* padding: 21px 42px 17px 43px; */
  width: 275px;
  height: 1px;
  left: 292.5%;
  right: -268.89%;
  top: 359.35%;
  bottom: -259.81%;
  margin-left: 42px;
}
.payment_button {
  position: absolute;
  width: 273px;
  height: 50px;
  padding: 17px 43px 42px 44px;
  margin-top: 17px;
  background: rgb(241, 109, 127);
  margin-left: 44px;
}
.payment_button_h1 {
  color: rgb(255, 255, 255);
  width: 189px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* Страница регистрации */

.list-box {
  position: absolute;
  width: 1600px;
  height: 675px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 337px);
  justify-content: center;
  grid-template-areas: 
  "a b b"
  "a b b";
  position: absolute;
}
.list-box_left {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  height: 515px;
  width: 360px;
  margin-left: -150px;
  margin-top: 64px;
}
.list-box_h2 {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.list-box_text {
  background: rgb(255, 255, 255);
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
}

.gender-selection {
  display: flex;
  justify-content: flex-start;
  margin-top: 11px;
  margin-left: -20px;
  width: 132px;
  height: 17px;
  margin-bottom: 33px;
}

.gender {
  width: 34px;
  height: 13px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
}
.gender-option {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.gender-option input[type="radio"] {
  display: none; /* Скрыть стандартные радио-кнопки */
}

.gender-option::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  transition: background 0.2s ease, border-color 0.2s ease; /* Переход для фона и цвета границы */
}

.gender-option input[type="radio"]:checked + label::before {
  background: #4CAF50; /* Цвет фона для выбранной опции */
  border-color: #4CAF50;
}

.list-box__h3 {
  width: 359px;
  height: 32px;
  color: rgb(177, 177, 177);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 39px;
}
.list-box_button {
  width: 167px;
  height: 50px;
  background: rgb(241, 109, 127);
  box-sizing: content-box;
}
.button_text_h2 {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  width: 72px;
  height: 17px;
 
}
.list-box_a {
  width: 16.29px;
  height: 1.42px;
  margin-left: 137px;
}
.list-box_right {
  grid-area: b;
  margin-top: 64px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 334px;
  width: 652px; 
}

.list-box_right_h2 {
  width: 652px;
  height: 58px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 21px;
}
.list-mark {
  position: relative;
  width: 653px;
  height: 204px;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 23px;
}
.list-box_mark {
  
  width: 20px;
  height: 16px;
}
.list-box_h3 {
  width: 557px;
  height: 29px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 29px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}











@media (min-width: 768px) and (max-width: 1024px) {
  .promo-info {
    max-width: 311px;
    max-height: 59px;
  }
  .logo1 {
    max-width: 26px;
    max-height: 26px;
  }
  .header__left {
    margin: 18px 424px 18px 32px;
  }
  .header__right {
    margin: 19px 32px 18px 0px;
  }
  .promo {
    max-width: 770px;
    max-height: 368px;
  }
  .promo__img {
    width: 63%;
  }
  .sale center {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
    max-width: 736px;
    max-height: 303px;
    margin-bottom: 109px;
  }
  sale__item {
    max-width: 232px;
    max-height: 168px;
  }
  .top_button {
    display: block;
    /* position: absolute; */
    margin-left: calc(50% - 102px);
  }
  .bottom {
    display: grid;
    grid-template: 30% 30% 30%/1fr;
    align-items: center;
    justify-items: center;
  }
  .conteiner {
    display: flex;
  }
  .contact_background {
    width: 768px;
    height: 693px;
  }
  .seo {
    position: absolute;
    width: 359px;
    height: 225px;
    margin: 64px 205px 404px 204px;
  }
  .subscribe {
    position: absolute;
    width: 557px;
    height: 137px;
    margin: 337px 106px 140px 105px;
  }
  .social_network {
    display: flex;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    background: rgb(34, 34, 36);
    width: 1600px;
    height: 79px;
  }
  .h2_social_network {
    max-width: 251px;
    max-height: 19px;
    margin: 30px 305px 30px 32px;
  }
  .logo_network {
    max-width: 148px;
    max-height: 32px;
    margin: 24px 32px 23px 0px;
  }
}
@media (max-width: 599px) {
  .logo11 {
    margin: 18px 0 18px 16px;
  }
  .header__left {
    max-width: 111px;
    max-height: 38px;
  }
  .header__right {
    margin: 25px 20px 26px 0px;
  }
  .promo__img {
    max-width: 1%;
  }
  .img_promo {
    max-width: 0px;
    max-height: 0px;
  }
  .promo__content {
    max-width: 375px;
    max-height: 363px;
  }
  .promo__text {
    max-width: 263px;
    margin: 148px 56px 149px 0px;
  }
  .promo__title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 58px;
    color: #222222;
  }
  .promo__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #222222;
  }
  .img_sale {
    max-height: 247px;
    max-width: 343px;
  }
  .sale {
    padding: 10px;
    display: grid;
    gap: 32px;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .sale__content {
    margin: 98px 95px 99px 94px;
    max-width: 154px;
    max-height: 50px;
  }
  .sale__item {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    max-width: 343px;
    max-height: 247px;
    padding: 5px;
  }
  .sale__item_big {
    position: relative;
    max-width: 1140px;
    max-height: 180px;
    margin: 32px;
  }
  .sale__content_big {
    margin: 5px 92px 31px 82px;
    max-width: 180px;
    max-height: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .top_button {
    margin: 41px 89px 17px 111px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 609px;
    max-height: 550px;
  }
  .contact_background {
    width: 768px;
    height: 693px;
  }
  .seo {
    position: absolute;
    width: 343px;
    height: 194px;
    margin: 64px 152px 59px 45px;
  }
  .subscribe {
    position: absolute;
    width: 341px;
    height: 123px;
    margin: 321px 154px 110px -53px;
  }
  .social_network {
    max-width: 599px;
    max-height: 143px;
  }
  .button_subscribe {
    margin: -20px -50px;
  }
  .logo_network {
    max-width: 148px;
    max-height: 32px;
    margin: 15px 113px 68px 114px;
  }
  .h2_social_network {
    max-width: 251px;
    max-height: 19px;
    margin: 55px -295px 0px 83px;
  }
}/*# sourceMappingURL=style.css.map */